@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;600;700&family=Roboto+Mono:wght@400;700&family=Roboto:wght@400;700&display=swap');

:root {
    --white: #fff;
    --dark: #0C0C0CCC;
    --gray: #4a4a4a;
}

html {
    line-height: 1.15;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    box-sizing: border-box;
    -ms-overflow-style: scrollbar;
    -webkit-tap-highlight-color: transparent;
}

body {
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    color: var(--gray);
    margin: 0;
}

footer, header, nav, section {
    display: block;
}

/**/
.skill-tooltip{
    animation: animate1 1s linear infinite;
}
@keyframes animate1{
    0%{
        -webkit-box-shadow: 0 0 0 0 var(--dark);
        -moz-box-shadow: 0 0 0 0 var(--dark);
        box-shadow: 0 0 0 0 var(--dark);
    }
    50%{
        -webkit-box-shadow: 0 0 0 2px var(--dark);
        -moz-box-shadow: 0 0 0 2px var(--dark);
        box-shadow: 0 0 0 2px var(--dark);
    }
    100%{
        -webkit-box-shadow: 0 0 0 0 var(--dark);
        -moz-box-shadow: 0 0 0 0 var(--dark);
        box-shadow: 0 0 0 0 var(--dark);
    }
}
/**/

h1 {
    font-size: 2em;
    margin: .67em 0;
}

hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}

a {
    color: var(--gray);
    transition: all .3s;
    position: relative;
    text-decoration: none;
    cursor: pointer;
    background-color: transparent;
}

b, strong {
    font-weight: bolder;
}

small {
    font-size: 80%;
}

sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
    top: -.5em;
}

img {
    border-style: none;
}

button {
    font-family: sans-serif;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}

button {
    overflow: visible;
    text-transform: none;
}

button, html [type=button] {
    -webkit-appearance: button;
}

[type=button]::-moz-focus-inner, button::-moz-focus-inner {
    border-style: none;
    padding: 0;
}

[type=button]:-moz-focusring, button:-moz-focusring {
    outline: 1px dotted ButtonText;
}

*, :after, :before {
    box-sizing: inherit;
}

.bullet-list {
    list-style: disc;
    padding: inherit;
    padding-bottom: 0;
    font-size: 14px;
    line-height: 20px;
}

hr, ul {
    margin: 0;
}

ul {
    padding: 0;
    list-style: none;
}

a:focus, a:hover, a a:active {
    color: var(--gray);
    text-decoration: underline;
}

nav {
    font-size: 12px;
    line-height: 18px;
    font-family: Roboto Mono, monospace;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 30px;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    padding-right: 50px;
    color: #999;
}

nav ul li a:after {
    content: "";
    position: absolute;
    width: 7px;
    height: 2px;
    bottom: 0;
    right: 42px;
    opacity: 0;
    transition: background .3s;
    background: var(--gray);
}

nav ul li a:hover {
    text-decoration: none;
    transition: all .15s;
    color: var(--gray);
}

nav ul li a:hover:after {
    opacity: 1;
}

button {
    padding: 0;
    margin: 0;
}

.personal-profile {
    color: var(--white);
    font-family: Roboto Mono, monospace;
    padding-top: 90px;
}

.personal-profile .personal-profile__avatar img {
    border-radius: 5px;
    box-shadow: 0 0 27px rgba(96, 96, 96, .34);
    width: 90%;
    height: 380px;
    -o-object-fit: cover;
    object-fit: cover;
    margin-top: 10px;
    position: relative;
    top: 40px;
}

.personal-profile .personal-profile__name {
    font-size: 44px;
    line-height: 50px;
    font-weight: 700;
    margin-top: 40px;
    margin-bottom: 10px;
}

.personal-profile .personal-profile__work {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 40px;
}

.personal-profile .personal-profile__contacts {
    margin-bottom: 20px;
}

.personal-profile .personal-profile__social {
    margin-bottom: 35px;
}

.personal-profile .personal-profile__social a {
    font-size: 24px;
    margin-right: 15px;
    opacity: .4;
    color: var(--white) !important;
}

.personal-profile .personal-profile__social a:hover {
    opacity: 1;
}

@keyframes changeBg{
    0%, 100%  {background-image: url("../img/bg/bg1.jpg");}
    20% {background-image: url("../img/bg/bg2.jpg");}
    40% {background-image: url("../img/bg/bg3.jpg");}
    60% {background-image: url("../img/bg/bg4.jpg");}
    80% {background-image: url("../img/bg/bg5.jpg");}
}

.main-header {
    animation: changeBg 3s infinite;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100%;
    position: relative;
    margin-bottom: 40px;
}

.main-header:before {
    background: linear-gradient(54deg, rgba(45, 45, 45, .64) 34%, rgba(45, 45, 45, .95));
    height: 100%;
    left: 0;
    right: 0;
    position: absolute;
    content: "";
    z-index: 0;
}

.contact-list {
    font-size: 16px;
    line-height: 24px;
    font-family: Roboto Mono, monospace;
}

.contact-list dt {
    float: left;
    font-weight: 700;
    text-transform: uppercase;
}

.contact-list dd {
    padding-left: 100px;
    margin-bottom: 15px;
}

.contact-list dd a {
    color: var(--white);
}

.contact-list.contact-list__opacity-titles dt {
    opacity: .4;
}

.section {
    padding-top: 30px;
    padding-bottom: 10px;
}

.section .section__title {
    margin-bottom: 30px;
    font-size: 36px;
    line-height: 42px;
    font-family: Roboto Mono, monospace;
}

.section .section__description {
    margin-bottom: 30px;
}

.accordion .card-header{
    padding: 0;
    border: none;
    background: transparent;
}

.accordion .card-header button{
    padding: 0;
    color: var(--dark);
}

.site-btn {
    background-color: var(--gray);
    height: 50px;
    border-radius: 25px;
    font-size: 14px;
    line-height: 20px;
    text-transform: uppercase;
    padding: 15px;
    min-width: 170px;
    text-align: center;
    display: inline-block;
    color: var(--white) !important;
    font-weight: 600;
    overflow: hidden;
}

.site-btn img {
    height: 14px;
    margin-top: -5px;
    margin-right: 5px;
}

.site-btn:focus, .site-btn:hover {
    background-color: #575757;
    text-decoration: none;
}

.menu {
    position: fixed;
    padding: 0;
    top: 0;
    z-index: 100;
    width: 100%;
    height: 50px;
    transition: all .5s;
}

.menu .menu__wrapper {
    z-index: 1;
    margin-top: 50px;
    transition: all .3s;
}

.menu .menu__wrapper nav {
    font-size: 14px;
    line-height: 20px;
    font-family: Roboto Mono, monospace;
    text-transform: uppercase;
    font-weight: 700;
}

.menu .menu__wrapper nav a {
    color: var(--white);
    opacity: 1;
}

.menu .menu__wrapper nav a:hover {
    opacity: .5;
}

.menu .menu__wrapper nav a:after {
    background: var(--white);
}

.menu .menu__mobile-button {
    color: var(--white);
    opacity: .5;
    transition: all .3s;
    background-color: transparent;
    border: none;
}

.menu .menu__mobile-button:hover {
    opacity: 1;
}

.menu.menu--active {
    background-color: var(--white);
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, .14);
}

.menu.menu--active .menu__wrapper {
    margin-top: 14px;
}

.menu.menu--active .menu__wrapper a {
    color: var(--gray) !important;
    opacity: 1;
}

.menu.menu--active .menu__wrapper a:hover {
    color: var(--gray) !important;
}

.menu.menu--active .menu__wrapper a:after {
    background: var(--gray) !important;
}

.menu.menu--active .menu__mobile-button {
    color: var(--gray) !important;
    opacity: .9;
    margin-top: -5px;
    transition: all .3s;
    background-color: transparent;
    border: none;
}

.menu.menu--active .menu__mobile-button:hover {
    color: var(--gray) !important;
    opacity: 1;
}

.menu.menu--active .menu__mobile-button:after {
    background: var(--gray) !important;
}

.project-card {
    margin-left: 0;
    transition: box-shadow .3s;
    margin-right: 0;
    height: 100%;
}

.project-card .project-card__img {
    padding-right: 0;
    padding-left: 0;
    background-color: #d7d7d7;
}

.project-card .project-card__img img {
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
    object-fit: contain;
}

.project-card .project-card__info {
    border: 1px solid #f1f1f1;
    padding: 50px 50px 40px 30px;
}

.project-card .project-card__title {
    font-size: 18px;
    line-height: 30px;
    font-family: Roboto Mono, monospace;
    text-transform: uppercase;
    margin-bottom: 15px;
    font-weight: 700;
}

.project-card .project-card__description {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 45px;
}

.project-card .project-card__stack {
    font-family: Roboto Mono, monospace;
    font-size: 12px;
    line-height: 18px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.project-card .project-card__link {
    margin-top: 55px;
    font-family: Roboto Mono, monospace;
    font-size: 14px;
    line-height: 20px;
}

.project-card:hover {
    box-shadow: 0 1px 31px rgba(0, 0, 0, .09);
}

.resume-list {
    margin-top: 30px;
    margin-bottom: 30px;
}

.resume-list .resume-list_title {
    font-family: Roboto Mono, monospace;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 5px;
    text-transform: uppercase;
    font-weight: 700;
    color: var(--gray);
    margin-bottom: 40px;
}

.resume-list .resume-list__block {
    border-left: 2px solid var(--gray);
    padding-left: 25px;
    padding-bottom: 50px;
}

.resume-list .resume-list__block.portfolio{
    padding-bottom: 25px;
}

.resume-list .resume-list__block.portfolio a{
    text-align: end;
    word-break: break-all;
}

.resume-list .resume-list__block p {
    margin: 0;
}

.resume-list .resume-list__block:before {
    width: 12px;
    height: 12px;
    border: 2px solid var(--gray);
    position: absolute;
    content: "";
    border-radius: 50%;
    background-color: var(--white);
    left: 10px;
}

.resume-list .resume-list__block:last-child {
    padding-bottom: 0;
}

.resume-list .resume-list__block .portfolio:last-child {
    padding-bottom: 15px;
}

.resume-list .resume-list__block-title {
    text-transform: uppercase;
    color: var(--gray);
    font-size: 14px;
    line-height: 20px;
    font-family: Roboto Mono, monospace;
    font-weight: 700;
    padding-bottom: 5px;
}

.resume-list__block-title.degree {
    font-size: 16px;
    line-height: 22px;
}

.resume-list .resume-list__block-date {
    font-family: Inconsolata, monospace;
    font-size: 14px;
    line-height: 20px;
    color: #999;
    padding-bottom: 10px;
}

footer {
    background-color: var(--dark);
}

footer .row {
    opacity: .7;
    font-size: 16px;
    line-height: 24px;
    font-family: Roboto Mono, monospace;
}

.progress-list {
    margin-top: 30px;
}
.conocimientos span{border: 1px solid var(--dark); padding: 10px; color: var(--gray); line-height: 58px; font-family: Inconsolata, monospace; font-size: 15px; font-weight: 600;}
.progress-list .progress-list__title {
    font-family: Roboto Mono, monospace;
    letter-spacing: 5px;
    font-weight: 700;
    color: #999;
    margin-bottom: 40px;
}

.progress-list .progress-list__title, .progress-list p {
    font-size: 14px;
    line-height: 20px;
    text-transform: uppercase;
}

.progress-list p {
    width: 100%;
    font-family: Inconsolata, monospace;
    margin-bottom: 10px;
}

.progress-list p .progress-list__skill-value {
    float: right;
}

.progress-list .progress {
    height: 6px;
    margin-bottom: 30px;
}

.progress-list .progress .progress-bar {
    background-color: var(--gray);
}

.tags li {
    display: inline-block;
    font-size: 14px;
    line-height: 20px;
    background-color: var(--white);
    box-shadow: 0 1px 4px rgba(0, 0, 0, .14);
    padding: 5px 10px;
    margin-right: 10px;
    border-radius: 3px;
}

.portfolio-menu .portfolio-menu__link--active {
    color: var(--gray);
    text-decoration: none;
}

.mobile-menu {
    position: fixed;
    top: 20px;
    left: 0;
    width: 0;
    height: 0;
    overflow: hidden;
    text-align: center;
    z-index: 9999;
    transition: all .3s ease;
    padding: 0;
    background-color: var(--dark);
    opacity: 0;
}

.mobile-menu.active {
    height: 100%;
    width: 100%;
    top: 0;
    opacity: 1;
}

.mobile-menu .mobile-menu__wrapper {
    height: 100%;
    overflow: auto;
    font-size: 14px;
    line-height: 20px;
    font-family: Roboto Mono, monospace;
    text-transform: uppercase;
    font-weight: 700;
    margin-top: 60px;
}

.mobile-menu .mobile-menu__wrapper ul {
    padding: 30px 0;
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    min-height: 100%;
}

.mobile-menu .mobile-menu__wrapper ul li {
    list-style: none;
    padding: 6px 0;
}

.mobile-menu .mobile-menu__wrapper ul li a {
    color: var(--white);
    display: inline-block;
    padding: 11px;
    position: relative;
}

.mobile-menu .mobile-menu__wrapper ul li a:hover {
    opacity: 1;
    text-decoration: none;
}

.mobile-menu .mobile-menu__wrapper ul li a:after {
    background: var(--white);
    bottom: 14px;
    right: 1px;
}

.mobile-menu .mobile-menu__close {
    color: var(--white);
    transition: all .3s;
    position: absolute;
    top: 50px;
    background-color: transparent;
    border: none;
}

.mobile-menu.mobile-menu--active .mobile-menu__close {
    top: 25px !important;
}

/* RESPONSIVE */
@media screen and (max-width: 990px) {
    .tags li {margin-bottom: 10px;}
    .main-header {margin-bottom: 0;}
    .personal-profile .personal-profile__avatar img {
        width: 60%;
        height: 270px;
        top: 0;
    }
    .personal-profile {
        padding-top: 49px;
    }
    .menu .menu__wrapper {
        margin-top: 20px;
    }
}
@media screen and (max-width: 760px) {
    .section {padding-top: 30px; padding-bottom: 30px;}
}
@media screen and (max-width: 480px) {
    .portfolio-menu a {padding-right: 14px;}
    .portfolio-menu a:after {right: 8px;}
    body {font-size: 14px;}
    .conocimientos span {padding: 6px; font-size: 12px;}
    .project-card .project-card__description {font-size: 14px;}
}